<mat-toolbar>
    <span>Boxes list</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="openBoxesMap()">Boxes map</button>
</mat-toolbar>
<table mat-table [dataSource]="boxes$ | async">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Box ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="coordinates">
        <th mat-header-cell *matHeaderCellDef> Coordinates </th>
        <td mat-cell *matCellDef="let element">
            {{ element.longitude }} : {{ element.latitude }}
        </td>
    </ng-container>

    <ng-container matColumnDef="readingsQuantity">
        <th mat-header-cell *matHeaderCellDef> Readings number </th>
        <td mat-cell *matCellDef="let element"> {{element.readingsQuantity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="goToSensorsList(row.id)"></tr>
</table>