<mat-toolbar>
    <span>All readings from {{ boxId }}</span>
</mat-toolbar>

<div class="filter-container">
    <mat-form-field appearance="fill">
        <mat-label>Sensor Type</mat-label>
        <mat-select (selectionChange)="changeSelectedSensorType($event)" value="ALL">
            <mat-option *ngFor="let type of (availableSensorTypes$ | async)" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<ng-container>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Sensor ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="range">
            <th mat-header-cell *matHeaderCellDef> Range </th>
            <td mat-cell *matCellDef="let element"> {{element.lowerRange}} — {{element.upperRange}} </td>
        </ng-container>

        <ng-container matColumnDef="reading">
            <th mat-header-cell *matHeaderCellDef> Reading </th>
            <td mat-cell *matCellDef="let element"> {{element.reading}} {{element.unit}} </td>
        </ng-container>

        <ng-container matColumnDef="readingTimeStamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp </th>
            <td mat-cell *matCellDef="let element"> {{element.readingTimeStamp }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <div class="paginator-container">
        <mat-paginator class="paginator" pageSize="25" showFirstLastButtons></mat-paginator>
    </div>
</ng-container>